.contactUsContainer {
    background-color: #c7c1c1;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactForm label {
    margin-bottom: 15px;
    text-align: left;
}

.contactForm input,
.contactForm textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    margin-top: 5px;
}

.contactForm textarea {
    resize: vertical;
    height: 100px;
}

.contactForm button {
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.contactForm button:hover {
    background-color: #0056b3;
}

.contactUsBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://via.placeholder.com/150'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .contactUsContainer {
        padding: 15px;
    }
}