.profileContainer {
    max-width: 600px;
    position: absolute;
    top: 20%;
    left: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profileDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profileDetails h2 {
    margin: 10px 0;
}

.profileDetails p {
    margin: 5px 0;
}

/* .btnDelete {
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d9534f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btnUpdate{
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.btnContainer {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Add space between the buttons */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.btnDelete, .btnUpdate {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btnDelete {
    background-color: #d9534f;
}

.btnUpdate {
    background-color: #28a745;
}

@media (max-width: 600px) {
    .btnContainer {
        flex-direction: row; /* Stack buttons vertically on small screens */
        gap: 10px; /* Adjust space between buttons for mobile */
        padding: 10px;
    }
}


.profileDetails button:hover {
    background-color: #0056b3;
}

.profileForm {
    display: flex;
    flex-direction: column;
}

.profileForm label {
    margin: 10px 0;
}

.profileForm input {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profileForm button {
    margin: 10px 5px 0 0;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.profileForm button:hover {
    background-color: #218838;
}

.profileForm button[type="button"] {
    background-color: #dc3545;
}

.profileForm button[type="button"]:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .profileContainer {
        left: 0;
    }
    .profileContainer button{
        margin: 10px 5px 0 0;
        padding: 10px 15px;
       
    }
}