.container {
  position: relative;  /* Add relative positioning for layering */
  background: rgba(255, 255, 255, 0.22);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.31);
  padding: 20px;
  max-width: 500px;
  margin: -32rem auto;
  z-index: 1;  /* Set a higher z-index to ensure form is on top */
}
  
  .h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
  }
  
  .button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(243, 57, 90, 0.55);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  .p {
    text-align: center;
  }
  
  .a {
    color: #12d653;
    text-decoration: none;
  }
  
  .a:hover {
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    .container {
      margin: -22rem auto;
      box-shadow: none;
      padding: 10px;
    }
  }
  